.jumbotron-main {
  color: white;
  background-color: black;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.lab-photo {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),
    url("/img/lab.jpg") no-repeat center center;
    /* url("/DavidHeld_files/rpad group pic - Aug 2020 - fix.png") no-repeat center center; */
  background-size: cover;
  background-color: black;
  min-height: 550px;
  /* padding-top: 8%; */
  position: relative;
}
@media only screen and (max-width: 900px) {
  .lab-photo {
    background-size: contain;
  }
}
@media only screen and (max-width: 300px) {
  .lab-photo {
    background-size: contain;
    min-height: 300px;
  }
}

.lab-photo-slider {
  background-color: black;
  min-height: 550px;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 550px;
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.slide.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 100px; /* Change this to adjust arrow button size (width) */
  height: 100px; /* Change this to adjust arrow button size (height) */
  font-size: 40px; /* Change this to adjust arrow symbol size */
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.slider-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-arrow:active {
  background-color: rgba(0, 0, 0, 0.9);
}

.slider-arrow-left {
  left: 2px; /* Change this to move left arrow closer (smaller value) or farther (larger value) from photo */
}

.slider-arrow-right {
  right: 2px; /* Change this to move right arrow closer (smaller value) or farther (larger value) from photo */
}

.slider-arrow span {
  line-height: 1;
}

@media only screen and (max-width: 768px) {
  .slider-arrow {
    width: 60px; /* Mobile arrow button width */
    height: 60px; /* Mobile arrow button height */
    font-size: 32px; /* Mobile arrow symbol size */
  }
  
  .slider-arrow-left {
    left: 5px; /* Mobile left arrow position */
  }
  
  .slider-arrow-right {
    right: 5px; /* Mobile right arrow position */
  }
}

.lab-title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #333;
}

@media only screen and (max-width: 900px) {
  .lab-photo-slider {
    min-height: 400px;
  }
  
  .slider-container {
    height: 400px;
  }
}

@media only screen and (max-width: 300px) {
  .lab-photo-slider {
    min-height: 300px;
  }
  
  .slider-container {
    height: 300px;
  }
}

.main-news {
  height: 500px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02)
}

.main-highlights {
  height: 500px;
}

.text-center {
  text-align: center;
}

.footer-logo {
  height: 75px;
}

.footer-logo img {
  height: inherit;
}

.member-col {
  height: 350px;
}

.member-col img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 250px;
  min-height: 250px;
  height: auto;
  width: auto;
}

.video_embed {
  margin-top: 5px;
}